.MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #303030 inset;
}

.swal-modal, .swal-text, .swal-title{
  color:#fff !important;
  background-color: #303030 !important;
}

.swal-button {
  background-color: #F50057;
}
.swal-button:not([disabled]):hover {
  background-color: #F50057 !important;
}